
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="margin-top:20px;padding:20px;background-color:gainsboro">
    <h2>Burası Partial View'dan gelmiştir</h2>

</div>

